.card {
  display: flex;
  flex-direction: column;

  height: 100%;
  padding: 16px;
  border: 1px solid #e2e6e9;
}

.imageLink {
  display: block;
  margin-bottom: 16px;
  transition: transform 0.3s;
}

.imageLink:hover {
  transform: scale(1.1);
}

.image {
  aspect-ratio: 1 / 1;
  width: 100%;
  object-fit: contain;
}

.title {
  min-height: 44px;
  margin-bottom: 12px;

  font-size: 14px;
  font-weight: 400;
  color: #313237;
}

.prices {
  display: flex;
  gap: 10px;
  align-items: baseline;
  margin-bottom: 12px;
}

.price {
  font-size: 22px;
  font-weight: 700;
}

.fullPrice {
  color: #89939a;
  text-decoration: line-through;
}

.specs {
  display: grid;
  gap: 8px;

  margin-bottom: 20px;

  font-size: 12px;
  color: #89939a;
}

.actions {
  display: flex;
  gap: 12px;
  margin-top: auto;
}

.button {
  cursor: pointer;
  flex: 1;
  padding: 12px 16px;
}

.cartButton {
  border-color: #313237;
  color: #fff;
  background-color: #313237;
}

.cartButtonAdded {
  border-color: #27ae60;
  background-color: #27ae60;
}

.favoriteButton {
  flex: 0 0 auto;
  min-width: 54px;
  color: #313237;
}

.favoriteActive {
  border-color: #eb5757;
  color: #fff;
  background-color: #eb5757;
}
